<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <!--<h1 class="logo me-auto"><a href="index.html">Presento<span>.</span></a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="http://www.studentledrp.org" class="logo me-auto"><img src="../assets/img/sofg-logo-wide.png" alt=""></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="http://www.studentledrp.org">Home</a></li>
        <li><a class="nav-link scrollto"  href="http://www.studentledrp.org/framework">The SLRP Framework</a></li>
        <li><a class="nav-link scrollto"  href="http://www.studentledrp.org/resources">Resources</a></li>
        <li><a class="nav-link scrollto" href="http://www.studentledrp.org/contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="http://www.studentledrp.org/members">Member Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->




