<!-- START OF BASE.HTML BEFORE HEAD.HTML -->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<!-- END OF BASE.HTML BEFORE HEAD.HTML -->
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
<!-- BASE.HTML BEFORE CONTENT -->
        {{ content }}
<!-- BASE.HTML AFTER CONTENT -->
      </div>
    </main>

    {%- include footer.html -%}

<!-- START OF BASE.HTML AFTER FOOTER.HTML -->
  </body>

</html>
<!-- END OF BASE.HTML AFTER FOOTER.HTML -->